/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --page-bg: url(../images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --bg-text-color: #FF0070;
  --header-color: #DB00FF;
  --header-shadow: #FF0070;
  --shadow-color: #FF0070;
  --title-color: #000028;
  --transparent-accent-color: hsla(334, 100%, 50%, 0.4); 
}

.page.theme_dark .lamp {
  display: block;
  }
