/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font: 'IBM Plex mono';
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --bg-text-color: #FF0070;
  --header-color: #DB00FF;
  --header-shadow: #FF0070;
  --shadow-color: #FF0070;
  --title-color: #000028;
  --transparent-accent-color: hsla(334, 100%, 50%, 0.4);
  background-image: url(../images/cover-image-dark.png);
}

.page.theme_light .lamp {
  display: block;
}

:root.theme_dark {
  --main-font: 'IBM Plex mono';
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --bg-text-color: #FF0070;
  --header-color: #DB00FF;
  --header-shadow: #FF0070;
  --shadow-color: #FF0070;
  --title-color: #000028;
  --transparent-accent-color: hsla(334, 100%, 50%, 0.4);
  /* Дублируем переменные для тёмной темы */
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font: 'IBM Plex mono';
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --bg-text-color: #FF0070;
    --header-color: #DB00FF;
    --header-shadow: #FF0070;
    --shadow-color: #FF0070;
    --title-color: #000028;  
  }
  
  .page {
    background-image: url(../images/cover-image-dark.png);
  }
  
  }