
.page.theme_light {
  --page-bg: url(../images/cover-image-light.png);
  --text-color: #353430;
  --header-color: #FFC2E6;
  --accent-color: #353430;
  --shadow-color: #FFC2E6;
  --transparent-accent-color: hsla(48, 5%, 20%, 0.4);
  --bg-text-color:  #FF8DCB;
  --title-color: #353430;
  --text-color: #353430;   
}

.page.theme_light .lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
:root {
  --page-bg: url(../images/cover-image-light.png);
  --text-color: #353430;
  --header-color: #FFC2E6;
  --accent-color: #353430;
  --shadow-color: #FFC2E6;
  --transparent-accent-color: hsla(48, 5%, 20%, 0.4);
  --bg-text-color:  #FF8DCB;
  --title-color: #353430;
  --text-color: #353430;    
  }

.page .lamp {
  display: none;
  }
}