:root {
  --main-font: 'IBM Plex mono';
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --bg-text-color: #FF0070;
  --header-color: #DB00FF;
  --header-shadow: #FF0070;
  --shadow-color: #FF0070;
  --title-color: #000028;
  --transparent-accent-color: hsla(334, 100%, 50%, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --bg-text-color: #FF0070;
    --header-color: #DB00FF;
    --header-shadow: #FF0070;
    --shadow-color: #FF0070;
    --title-color: #000028;  
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --header-color: #FFC2E6;
    --accent-color: #353430;
    --shadow-color: #FFC2E6;
    --transparent-accent-color: hsla(48, 5%, 20%, 0.4);
    --bg-text-color:  #FF8DCB;
    --title-color: #353430;
    --text-color: #353430;  
    }
  }  